// Variables
$bg-color: #313131;
$theam: #f4c13d;
$pro-color: #c8c8c8;
$bottom-color:  #1581ff;
$second-bg: rgba(54, 111, 255, 0.034);
$input-bg:  rgba(114, 114, 114, 0.699);

$header-font: 'Genos', sans-serif;
$bio-font: 'Ruluko', sans-serif;
$global-font: 'Roboto Condensed', sans-serif;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    width: 100%;
    height: 100vh;
    background-color: $bg-color;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: $global-font;
}
header{
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;

    .contact-btn{
        text-align: right;
    }
    a{
        padding: .6rem 2.3rem;
        font-size: 2rem;
        text-decoration: none;
        color: $theam;
        border: 2px solid $theam;
        border-radius: 20px;
        width: 10rem;
        transition: 0.5s;
    }
    a:hover{
        color: #ffffff;
        background-color: $theam;
    }
    .img-box{
        img{
            height: 18rem;
        }
    }
    .header-name{
        margin: -1rem auto;
        width: 40rem;
        h1{
            font-size: 4rem;
            font-family: $header-font;
            color: $theam;
        }
        #profession{
            font-size: 1.7rem;
            font-family: $bio-font;
            color: #c8c8c8;
        }
        #bio{
            font-size: 1.5rem;
            margin-top: 2rem;
            font-family: $bio-font;
        }
    }
}
main{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    .links{
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: $second-bg;
        width: 100%;
        padding: 2rem 0;
        a{
            margin: 1rem auto;
            padding: .4rem 0;
            width: 70%;
            background-color: $theam;
            color: #ffffff;
            border: 3px solid $theam;
            border-radius: 20px;
            text-align: center;
            font-size: 2.3rem;
            text-decoration: none;
            font-weight: 600;
        }
        a:hover{
            background-color: transparent;
            border: 3px solid $theam;
            color: $theam;
        }
    }
    h2{
        color: $theam;
        font-size: 2.5rem;
        margin-top: 3rem;
    }
    .contact-box{
        
        form{
            background-color: $second-bg;
            display: flex;
            flex-direction: column;
            width: 50rem;
            border: 3px solid $theam;
            border-radius: 10px;
            padding: 2rem 0;

            input{
                width: 80%;
                margin: 1rem auto;
                padding: 1rem;
                font-size: 1.5rem;
                border: none;
                background-color: $input-bg;
                border-radius: 10px;
                color: $theam;
            }
            #desc{
                height: 10rem;
                width: 80%;
                margin: 1rem auto;
                padding: 1rem;
                font-size: 1.5rem;
                border: none;
                background-color: $input-bg;
                border-radius: 10px;
                color: $theam
            }
            button{
                width: 80%;
                margin: 1rem auto;
                padding: .9rem 0;
                font-size: 2rem;
                background-color: $theam;
                border: 3px solid $theam;
                border-radius: 10px;
                color: #ffffff;
            }
            button:hover{
                background-color: transparent;
                color: $theam;
                border: 3px solid $theam;

            }
        }
    }
}
footer{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 43rem;
    text-align: center;
    .social-icon{
        margin: 3rem 0;
        a{
            font-size: 3rem;
            color: $theam;
            margin: 0 2rem;
            padding: 1rem 1.3rem;
            border: 2px solid $theam;
            border-radius: 100px;
        }
        a:nth-child(2){
            padding: 1rem 1.8rem;
        }
        a:nth-child(3){
            padding: 1rem 1.5rem;
        }
        a:hover{
            color: #ffffff;
            border-color: #ffffff;
        }
    }
    .credit{
        margin: 2rem auto;
        h3{
            font-size: 2rem;
            font-family: $bio-font;
        }
        p{
            font-size: 1.6rem;
            margin: 2rem auto 1rem auto;
            a{
                color: #1581ff;
                text-decoration: none;
            }
        }
    }
}